.header__wrapper {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    column-gap: min(70px, 4vw);
}

.header__nav-item {
}

.header__nav-link {
    font-size: 20px;
    font-weight: 500;
    color: var(--co-black);
    position: relative;
    white-space: nowrap; /* white-space указывает браузеру, как обрабатывать пробелы в тексте. nowrap - браузер перестаёт учитывать границы элемента и выводит весь текст в одну строку*/
}

.header__nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -4px;
    height: 1px;
    background-color: var(--co-green);
    transition: right .22s;
}


.header__nav-link:hover {
    color: var(--co-green);
}

.header__nav-link:hover::after {
    right: 0;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}

@media (max-width: 992px) {
    .header__nav-link{
        font-size: 16px;
    }
    .header__actions .btn {
        width: 120px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 0 0 0 45px;
    }
    .header__nav {
        display: none;
    }
}

@media (max-width: 390px) {
    .header__actions .btn {
        width: 90px;
    }
}
   